<!DOCTYPE html>
<html lang="en">
<head>
    <title>Young Innovators Club</title>


    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/animate-css/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="assets/css/land_page/style.css" rel="stylesheet">
    <link href="stylesheets/agency.min.css" rel="stylesheet">
    <link href="stylesheets/logocard/logoflip.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target="#nav-menu-container">
<div id="preloader"></div>

<!--==========================
  Head Section
============================-->
<section id="hero">
    <div class="container-fluid hero-container">
        <div class="card container-fluid">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <img class="img-centered" style="width:134.8px; height:87.6px" src="assets/images/Certificate for YIC_1.png">
                    </div>
                    <div class="back">
                        <img class="img-centered" style="width:166.6px; height:76.6px" src="assets/images/JCI Logo - Copy.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="wow zoomIn">
            <h1 style="text-transform:none; font-size:50px">Young Innovators Club</h1>
            <h2 style="font-family:Georgia; font-stretch:ultra-expanded; text-transform:none">We love to <span class="rotating">Collaborate, Innovate, Create</span></h2>
            <div class="actions">
                <a href="#services" class="btn-get-started" style="text-transform:none;width:256px">Know more</a>
                <a class="btn-services" style="text-transform:none;width:256px" data-toggle="modal" data-target="#LoginModal">Login</a>
            </div>
        </div>
    </div>
</section>

<!--==========================
  Header Section
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="#hero"><img src="assets/images/Certificate for YIC_1.png" alt="" title="" /></a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Header 1</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu" role="tablist">
                <li class="menu-active"><a href="#hero">Home</a></li>
                <li><a href="#services">Motto</a></li>
                <li><a href="#about">Journey</a></li>
                <li><a href="#portfolio">Colleges</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li class="btn btn-success"><a data-toggle="modal" data-target="#LoginModal">Login</a></li>
            </ul>


        </nav><!-- #nav-menu-container -->
    </div>

</header><!-- #header -->
<!--==========================
  Moto Section
============================-->
<section id="services">
    <div class="container wow zoomIn">
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-transform:none" class="section-title">Our Motto</h3>
                <div class="section-title-divider"></div>
                <p class="section-description" tyle="text-align:justify"> Incubate young talent to help productize their ideas and facilitate their career development.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 service-item">
                <div class="service-icon"><i class="fa fa-handshake-o"></i></div>
                <h4 style="text-transform:none" class="service-title"><a href="">Collaborate</a></h4>
                <p class="service-description" style="text-align:justify">JCI India Engineering organizes tech events to recognize bright young students, and provides them the opportunity to collaborate with domain experts to develop their innovative ideas using the YIC platform.</p>
            </div>
            <div class="col-md-4 service-item">
                <div class="service-icon"><i class="fa fa-microchip"></i></div>
                <h4 style="text-transform:none" class="service-title"><a href="">Innovate</a></h4>
                <p class="service-description" style="text-align:justify">The innovation soul, spirit and drive at JCI India Engineering facilitates YIC to empower domain experts and YIC members to create innovative solutions to real world problems.</p>
            </div>
            <div class="col-md-4 service-item">
                <div class="service-icon"><i class="fa fa-bullseye"></i></div>
                <h4 style="text-transform:none" class="service-title"><a href="">Create</a></h4>
                <p class="service-description" style="text-align:justify">Innovative solutions collaboratively created by YIC members are fine-tuned by JCI India Engineering domain leaders to add business value and make the solutions more marketable.</p>
            </div>
        </div>
    </div>
</section>

<!--==========================
  About Section
============================-->

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">YIC Journey</h2>
                <h3 class="section-subheading text-muted">The Journey of a thousand miles begins with one step.</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="container wow zoomIn container-fluid">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image container-fluid">
                                <h4 style="font-family:Jokerman;"  class="text-center">


                                    <br />2015
                                    <br>
                                </h4>

                            </div>

                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2016</h4>
                                    <h4 class="subheading">Our Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted text-justify">Under the Academic Interface Program, JCI was a sponsor of a hackathon named 'Make-A-Thon16' which took place at Vellore Institue of Technology, Vellore Campus.That was the very first step and the beginning of Young Innovators Club.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4 style="font-family:Jokerman" class="text-center">


                                    <br />2016
                                    <br>
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">A Club is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted text-justify">The winners of the 'Make-A-Thon16' were provided with an offer of internship at JCI where they showcased their project ideas at Technovate16.They were also provided with the membership of the Young Innovators Club.This was how the Club was born.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4 style="font-family:Jokerman" class="text-center">


                                    <br />2017
                                    <br>
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">First YIC Presentation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted text-justify">We Sponsored JCI Makeathon in March 2017. We visited VIT University, Vellore for JCI Makeathon in April 2017. Winners of JCI Makeathon were invited as an interns at JCI in May 2017. They will be presenting ideas at BT&S Tech Challenge India 2017 on 13th June 2017.</p>
                                </div>
                            </div>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================
Stats Section
============================-->
<section id="subscribe">
    <div class="container wow zoomIn">
        <div class="row">

            <div class="col-md-8">
                <h3 class="subscribe-title"style="text-transform:none">Our Events</h3>

            </div>
            <div class="col-md-2 fa-pull-right subscribe-btn-container">
                <a class="subscribe-btn" href="#">Dive In </a>
            </div>
        </div>
        <!--<a data-toggle="modal" data-target="#myModal">
            <div class="col-md-4 fa-pull-right">
                <h1 class="subscribe-title text-center"><i class="fa fa-eye fa-2x center"></i><br /><br />@ViewBag.Count<br /><br /><small style="color:white">Total Views</small></h1>
            </div>
        </a>
        <a href="@Url.Action("PartialUser","Users")">
            <div class="col-md-4 fa-pull-right">
                <h1 class="subscribe-title text-center"><i class="fa fa-id-badge fa-2x center"></i><br /><br />16<br /><br /><small style="color:white">Total Innovators</small></h1>

            </div>
        </a>
        <a href="@Url.Action("PartialProject","Projects")">
            <div class="col-md-4 fa-pull-right">
                <h1 class="subscribe-title text-center"><i class="fa fa-briefcase fa-2x center"></i><br /><br />6<br /><br /><small style="color:white">Total Projects</small></h1>

            </div>
        </a>
            -->

    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body container-fluid" style="overflow:hidden">
                <iframe width="300" height="600" src="http://localhost:62240/Projects/PartialProject" frameborder="0"></iframe>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!--End-->

<!--==========================
  Porfolio Section
============================-->
<section id="portfolio">
    <div class="container wow zoomIn">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Our Partner Colleges</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Special initiatives need special partners.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a class="portfolio-item" style="" data-toggle="modal" data-target="#VITModal" href="">
                    <div class="details">

                        <h4>VIT University</h4>
                        <p style="color:teal; margin-left:5px; margin-right:5px; text-align:justify">VIT University, also known as Vellore Institute of Technology (VIT), is a private university in Tamil Nadu, India. Founded in 1984, as Vellore Engineering College, by G. Viswanathan, the institution offers 20 undergraduate, 34 postgraduate, four integrated and four research programs.</p>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="portfolio-item" style="" data-toggle="modal" data-target="#BITSModal" href="">
                    <div class="details">

                        <h4>BITS Pilani</h4>
                        <p style="color:teal; text-align:justify; margin-left:5px; margin-right:5px">Birla Institute of Technology & Science is an Indian institute of higher education and a deemed university under Section 3 of the UGC Act 1956.The university has 15 academic departments, and focuses primarily on undergraduate education in engineering and the sciences and on its management programme.</p>
                    </div>
                </a>

            </div>

            <div class="col-md-4">
                <a class="portfolio-item" style="" data-toggle="modal" data-target="#KharagpurModal" href="">
                    <div class="details">

                        <h4>IIT - Kharagpur</h4>
                        <p style="color:teal;text-align:justify;margin-left:5px; margin-right:5px">The Indian Institute of Technology Kharagpur (IIT Kharagpur) is a public engineering institution established by the government of India in 1951. It is the first of the IITs to be established, and is recognized as an Institute of National Importance by the Government of India.</p>
                    </div>
                </a>
            </div>



            <div class="col-md-4">
                <a class="portfolio-item" style="" data-toggle="modal" data-target="#RoorkeeModal" href="">
                    <div class="details">

                        <h4>IIT - Roorkee</h4>
                        <p style="color:teal;text-align:justify; margin-left:5px; margin-right:5px">Indian Institute of Technology Roorkee  formerly the University of Roorkee (1948 – 2001) is a public engineering university located in Roorkee, Uttarakhand, India.IIT Roorkee has 21 academic departments with a strong emphasis on scientific and technological education and research.</p>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="portfolio-item" style="" data-toggle="modal" data-target="#DYPATILModal" href="">
                    <div class="details">

                        <h4>DY Patil</h4>
                        <p style="color:teal;text-align:justify;margin-left:5px; margin-right:5px">D.Y. Patil College of Engineering is permanently affiliated to the five star University of Pune. It is designated as a grade "A" College by the Directorate of Technical Education (DTE) Government of Maharashtra. The college courses are approved by All India Council of Technical Education and are recognized by the Institution of Engineers.</p>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="portfolio-item" style="" data-toggle="modal" data-target="#RMKModal" href="">
                    <div class="details">

                        <h4>RMK College</h4>
                        <p style="color:teal;text-align:justify;margin-left:5px; margin-right:5px">RMK Engineering College is a private engineering college in Tamil Nadu, India, governed by the Lakshmikanthammal Educational Trust. It is affiliated with Anna University, Chennai, and accredited by All India Council for Technical Education(AICTE) and National Board of Accreditation(NBA). It is a Telugu minority institution.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



<!--==========================
  Team Section
============================-->
<section id="team">
    <div class="container wow zoomIn">

        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">YIC Founder Team</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Our Leaders don't create followers, they create more leaders !</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="container wow zoomIn">
                    <div class="member">
                        <div class="pic"><img class="img-circle" src="assets/images//mentors/Subrata.jpg" style="width:256px;height:256px" alt=""></div>
                        <h4>Subrata Bhattacharyya</h4>
                        <span>Chief Patron</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="member">
                    <div style="padding:15px"><img class="img-circle" src="assets/images//mentors/ashok.jpg" style="width:200px;height:200px" alt=""></div>
                    <h4>Ashok Sridharan</h4>
                    <span>President</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/Ashok.sridharan.s"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/ashok-sridharan-3502a226/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="member">
                    <div style="padding:15px"><img class="img-circle" src="assets/images//mentors/hariharasudhan.jpg" style="width:200px;height:200px" alt=""></div>
                    <h4>Hariharasudhan Venugopal</h4>
                    <span>Technical Panel Head</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/Hariharasudhanv77"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/vivek-shivakant-tripathi-a3799673/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="member">
                    <div style="padding:15px"><img class="img-circle" src="assets/images//mentors/nilankur.jpg" style="width:200px;height:200px" alt=""></div>
                    <h4>Nilankur Majumdar</h4>
                    <span>SR. General Manager</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/nilankur.mazumdar"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/vivek-shivakant-tripathi-a3799673/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="member">
                    <div style="padding:15px"><img class="img-circle" src="assets/images//mentors/vivek.jpg" style="width:180px;height:180px" alt=""></div>
                    <h4>Vivek Tripathi</h4>
                    <span>Joint Secretary</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/vivek-shivakant-tripathi-a3799673/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="member">
                    <div style="padding:15px"><img class="img-circle" src="assets/images/mentors/sauvik.jpg" style="width:180px;height:180px" alt=""></div>
                    <h4>Sauvik Ghosh</h4>
                    <span>AIP Co.ordinator</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/vivek-shivakant-tripathi-a3799673/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--==========================
  Contact Section
============================-->
<section id="contact">
    <div class="container wow zoomIn">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title" style="color:white">Contact Us</h3>
                <div class="section-title-divider" style="color:white"></div>
                <p class="section-description" style="color:white">Interested to know more ? We are just a click away !</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-push-2">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p style="color:white">I Think Campus<br>Mumbai</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p style="color:white">BE-India-IEC-YIC@jci.com</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-md-push-2">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    &copy; Copyright <strong>Johnson Controls</strong>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- #footer -->

<!-- Partial Modal -->

<!-- Modal Structure -->
<div class="modal" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="col-md-12">
        <div class="">
            <style>
                form {
                    padding: 20px;
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 15px 0 rgba(0,0,0,0.12) !important;
                }

                p {
                    margin-bottom: 10px;
                    margin-top: 10px;
                    text-align: center;
                }

                .blue {
                    color: #337ab7;
                }

                .lflip {
                    -webkit-perspective: 800px;
                    perspective: 800px;
                    position: relative;
                }

                .lflip .lcard.lflipped {
                    -webkit-transform: rotateY(-180deg);
                    transform: rotateY(-180deg);
                }

                .lflip .lcard {
                    height: 100%;
                    -webkit-transform-style: preserve-3d;
                    -webkit-transition: 0.5s;
                    transform-style: preserve-3d;
                    transition: 0.5s;
                }

                .lflip .lcard .lface {
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    z-index: 2;
                }

                .lflip .lcard .lfront {
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                }

                .lflip .lcard .lback {
                    -webkit-transform: rotateY(-180deg);
                    transform: rotateY(-180deg);
                }
            </style>
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4"></div>
                    <div class="col-md-offset-4 col-md-4">
                        <div class="lflip">
                            <div class="lcard">
                                <div class="lface lfront">
                                    <div class="panel panel-default center center-block">
                                        <div class="modal-header" align="center">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                            <h3 style="font-family:Georgia; margin-top:25px; text-transform:none; color:teal;" class="text-center">Young Innovators Club</h3><div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="col-md-offset-1 col-md-10 fa-pull-left">
                                            </div>
                                            <br />
                                            <br />
                                            <br />
                                            <div class="col-md-offset-1 col-md-10 fa-pull-left"></div>
                                            <br />
                                            <br />
                                            <input type="submit" value="Login" style="background-color:#03c4eb;margin-right:42px; margin-top:10px;color:white; padding-right:15px; padding-left:15px" class="btn btn-get-primary fa-pull-right" />
                                            <br />
                                            <br />

                                            <hr />
                                            <p class="text-center"><a href="">Forgot Password</a></p>

                                            <hr>
                                            <p class="text-center">
                                                <a href="#" class="fliper-btn">Are You A guest ?</a>
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="lface lback">

                                    <div class="panel panel-default center center-block">
                                        <div class="modal-header" align="center">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                            <h3 style="font-family:Georgia; margin-top:25px; text-transform:none; color:teal;" class="text-center">Young Innovators Club</h3>
                                            <!--<img class="img-centered" style="width:168.5px; height:109.5px" id="img_logo" src="~/Images/logo/Certificate for YIC_1.png"> -->


                                            <div>
                                                <p>@ViewBag.LoginMessage</p>
                                            </div>
                                        </div>
                                        <div class="form-horizontal" >
                                            <p class="text-center" style="color:teal">
                                                We are Glad to have you here.
                                            </p>

                                            <div class="col-md-offset-1 col-md-10 fa-pull-left">

                                            </div>

                                            <input type="submit" value="Login" style="background-color:#03c4eb;margin-top:20px;margin-right:42px;color:white; padding-right:15px; padding-left:15px" class="btn btn-get-primary fa-pull-right" />

                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />


                                            <hr />
                                            <p class="text-center colo">
                                                <a class="text-center">*Please use Email-ID as YIC Username .</a>
                                            </p>
                                            <hr />
                                            <p class="text-center">
                                                <a href="#" class="fliper-btn text-center">Are You A YIC Member?</a>
                                            </p>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Required JavaScript Libraries -->
<script src="assets/scripts/jquery.js"></script>

<script src="assets/scripts/bootstrap.min.js"></script>
<script src="assets/scripts/superfish/hoverIntent.js"></script>
<script src="assets/scripts/superfish/superfish.min.js"></script>
<script src="assets/scripts/morphext/morphext.min.js"></script>
<script src="assets/scripts/wow/wow.min.js"></script>
<script src="assets/scripts/stickyjs/sticky.js"></script>
<script src="assets/scripts/easing/easing.js"></script>
<script src="assets/scripts/agency.min.js"></script>

<!-- Template Specisifc Custom Javascript File -->
<script src="assets/scripts/custom.js"></script>

<!-- <script src="~contact"></script> -->
<!-- VITModal-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="assets/scripts/smoothscroll.js"></script>

<script>
    $('.fliper-btn').click(function () {
        $('.lflip').find('.lcard').toggleClass('lflipped');

    });
</script>
<script>
    $(document).ready(function () {
        $(document).on("scroll", onScroll);

        //smoothscroll
        $('a[href^="#"]').on('click', function (e) {
            e.preventDefault();
            $(document).off("scroll");

            $('a').each(function () {
                $(this).removeClass('active');
            })
            $(this).addClass('active');

            var target = this.hash,
                menu = target;
            $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top + 2
            }, 500, 'swing', function () {
                window.location.hash = target;
                $(document).on("scroll", onScroll);
            });
        });
    });
</script>
<script>
    $('body').scrollspy({ target: '#nav-menu-container' })

</script>



<script>
    $(document).ready(function () {
        $(document).on("scroll", onScroll);
        //smoothscroll
        $('li a[href^="#"]').on('click', function (e) {
            e.preventDefault();
            $(document).off("scroll");

            $('li a').each(function () {
                $(this).removeClass('active');
            })
            $(this).addClass('active');

            var target = this.hash,
                menu = target;
            $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top + 2
            }, 500, 'swing', function () {
                window.location.hash = target;
                $(document).on("scroll", onScroll);
            });
        })
    });

    function onScroll(event)
    {
        var scrollPos = $(document).scrollTop();
        $('#nav-menu-container a').each(function () {
            var currLink = $(this);
            var refElement = $(currLink.attr("href"));
            if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
                //  $('#nav-menu-container ul li a').removeClass("active");
                $('#nav-menu-container ul li').removeClass("active");
                currLink.addClass("active");
            }
            else {
                currLink.removeClass("active");
                $('#nav-menu-container ul li').removeClass("menu-active");
            }
        });
    }
</script>






<!--   <a class="left carousel-control" href="#myCarousel5" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span>
       <span class="sr-only">Previous</span>
   </a>
   <a class="right carousel-control" href="#myCarousel5" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
       <span class="sr-only">Next</span>
   </a> !-->





</body>

</html>